/node_modules
/vendor
/public/hot
/public/storage
/public/build
/storage/*.key
/database/database.sqlite
/.idea
/.vscode
.env
.env.*
.env.prod
!.env.testing
.phpunit.result.cache
npm-debug.log
yarn-error.log
pnpm-debug.log

# OS files
.DS_Store
