services:
  app:
    build:
      context: .
    env_file:
      - .env
    volumes:
      - ./:/var/www/html
      - app_storage:/var/www/html/storage
      - app_database:/var/www/html/database

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    depends_on:
      - app
    volumes:
      - ./:/var/www/html:ro
      - app_storage:/var/www/html/storage:ro
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  app_storage:
  app_database:
